{% extends "consumer/layouts/main.twig" %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="sub-nav">
        <a href="#" class="select-posts active">Articles</a>
        <a href="#" id="categories-tab" class="select-categories">Categories</a>
    </div>

    <div class="home-page-posts animated fadeIn ">

        {% for article in articles %}
            <article class="post">
                <div class="post-preview col-xs-10  no-gutter">
                    <h2><a href="{{ article.link|raw }}">{{ article.title }}</a></h2>

                    <p> {{ article.summary }}</p>

                    <p class="meta">
                        <a href="{{ article.author.link|raw }}"> {{ article.author.name }}</a> in <a
                                href="{{ article.category.link|raw }}">{{ article.category.name }}</a> <i
                                class="link-spacer"></i> <i
                                class="fa fa-bookmark"></i> {{ article.duration }} read
                    </p>
                </div>

                <div class=" col-xs-2  no-gutter">
                    <img src="{{ article.author.avatar }}" class="user-icon" alt="user-image">
                </div>
            </article>
        {% else %}
            <h2>No articles!</h2>
        {% endfor %}
    </div>

    <div class="home-page-categories animated fadeIn hide">
        <div class="category row">
            <section>

                {% for category in categories %}
                    <div class="category-preview col-xs-6 col-sm-4 ">
                        <h2>{{ category.getName }}</h2>
                        <a href="category.html"><img src="{{ category.getExtImg }}" alt="category-image"></a>
                    </div>
                {% else %}
                    <h2>No categories!</h2>
                {% endfor %}

            </section>
        </div>
    </div>
    {% include 'consumer/layouts/_partials/footer.twig' %}

{% endblock content %}
