{% include 'consumer/layouts/_partials/head.twig' %}

<body>
<main class="container left-container">
    <div class="row">

        {% include 'consumer/layouts/_partials/menu.twig' %}

        <section class="col-md-7 col-sm-12 col-md-offset-5 main-content">

            <!-- contents per page -->
            {% block content %}{% endblock content %}

            <footer class="split-footer">
                {% block footer %}
                    <a href="post.html">About</a>
                    <i class="link-spacer"></i>
                    <a href="post.html">Writer 2015</a>
                {% endblock footer %}
            </footer>

        </section>
        <!-- main content -->

    </div>
    <!--/row -->

</main>
<!-- /container -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>window.jQuery || {{ html.documentWriteScript("bower_components/jquery/dist/jquery.min.js")|raw }}</script>

{{ html.script("bower_components/jPanelMenu/jquery.jpanelmenu-legacy.js")|raw }}
{{ html.script("bower_components/bootstrap/dist/js/bootstrap.min.js")|raw }}
{{ html.script("bower_components/fastclick/lib/fastclick.js")|raw }}

{{ html.script("js/main.js")|raw }}

</body>
</html>
